# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore database files
*.db

# Ignore system files
.DS_Store
